/* Ocultar el select original cuando Select2 está activo */
.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

/* Asegurar que solo se muestre una instancia de Select2 */
.select2-container {
    z-index: 100;
}